form {
    background-color: #213b50;
    color: #fff;
    padding: 20px;
}

input, select, textarea {
    background-color: #2b4a64;
    color: #fff;
    width: 25%;
    margin-bottom: 10px;
    border: 1px solid #2b4a64;
    padding: 5px;

}

input:focus,
select:focus,
textarea:focus {
    background-color: #4e708c;
    border: 1px solid #fff;
    outline: #fff;
}

label {
    display: block;
    padding: 2px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

label[for*="male"],
label[for="agreement"] {
    display: inline;
}

input[type="submit"] {
    background-color: #1ac056;
    width: auto;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #46e881;
}
}