.main {
    width: 612px;
    height: 612px;
    position: relative;
    background-color: red;
}

.sq {
    width: 200px;
    height: 200px;
    border: 2px solid white;
    position: absolute;
}

.sq-top {
    background-color: red;
    position: absolute;
}

.sq-top-middle {
    background-color: blue;
    left: 33.3%;
}

.sq-top-right {
    background-color: green;
    right: 0;
}

.sq-middle {
    background-color: yellow;
    bottom: 33.3%;
}

.sq-middle-middle {
    background-color: black;
    left: 33.3%;
}

.sq-middle-right {
    background-color: rgb(207, 146, 14);
    right: 0;
}

.sq-bottom {
    background-color: rgb(70, 8, 88);
    bottom: 0;
}

.sq-bottom-middle {
    background-color: grey;
    left: 33.3%;
}

.sq-bottom-right {
    background-color: pink;
    right: 0;
}

.sp {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: 1px solid;
    position: absolute;
    left: 60px;
    bottom: 60px;
}

.sp-top-left {
    background-color: pink;
}

.sp-top-middle {
    background-color: grey;
}

.sp-top-right {
    background-color: indigo;
}

.sp-middle-left {
    background-color: green;
}

.sp-middle-middle {
    background-color: red;
}

.sp-middle-right {
    background-color: blue;
}

.sp-bottom-left {
    background-color: orange;
}

.sp-bottom-middle {
    background-color: yellow;
}

.sp-bottom-right {
    background-color: black;
}